<h1>ESTE ES EL HOME</h1>

<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste perspiciatis dolores nobis cum corrupti asperiores aut impedit nesciunt veniam a explicabo, est repellat error placeat dolore facilis commodi laboriosam iusto.
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste perspiciatis dolores nobis cum corrupti asperiores aut impedit nesciunt veniam a explicabo, est repellat error placeat dolore facilis commodi laboriosam iusto.
</p>

<p>ESTO ES UNA PRUEBA</p>
<h2 style="color: blueviolet;">prueba 1</h2>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste perspiciatis dolores nobis cum corrupti asperiores aut impedit nesciunt veniam a explicabo, est repellat error placeat dolore facilis commodi laboriosam iusto.
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste perspiciatis dolores nobis cum corrupti asperiores aut impedit nesciunt veniam a explicabo, est repellat error placeat dolore facilis commodi laboriosam iusto.
</p>

<h2 style="color: rgb(78, 236, 78);">prueba 2</h2>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste perspiciatis dolores nobis cum corrupti asperiores aut impedit nesciunt veniam a explicabo, est repellat error placeat dolore facilis commodi laboriosam iusto.
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste perspiciatis dolores nobis cum corrupti asperiores aut impedit nesciunt veniam a explicabo, est repellat error placeat dolore facilis commodi laboriosam iusto.
</p>

